@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-12 mt-5">
            <div id="main-screen-container" class="main-page-text mt-5 pt-5 text-center">
                <h1 id="main-text-friend" class="text-center display-3 text-light font-weight-bold">OYUN ARKADAŞI MI ARIYORSUN ?</h1>
                <h1 id="main-text-child" class="text-center h1 text-light font-weight-bold">Dilediğin oyunda arkadaşını seç yalnız kalma !</h1>
                <button onclick="location.href='/Register';" id="main-screen-join-button" class="btn btn-warning btn-lg  mt-5"><h1 id="main-page-join-button-text" class="font-weight-bold text-black">HEMEN ÜCRETSİZ KATILIN</h1></button>
            </div>
        </div>
    </div>

</div>
