
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
       
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #f1f1f1;
        }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="~/Content/ineedgamer/games.css" rel="stylesheet" />
<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;" class="container-fluid">
    <div class="mt-5 pt-4">
        <div class="row p-0">
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/cuma.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Friday the 13th</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/gta.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Grand Theft Auto V</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/minecraft.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Minecraft</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/rust.png" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">RUST</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/lol.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">League Of Legends</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/cuma.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Friday the 13th</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/gta.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Grand Theft Auto V</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/minecraft.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Minecraft</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/rust.png" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">RUST</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/lol.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">League Of Legends</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/cuma.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Friday the 13th</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/gta.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Grand Theft Auto V</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/minecraft.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">Minecraft</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/rust.png" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">RUST</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="hovereffect">
                    <img class="img-responsive w-100" src="~/Images/lol.jpg" alt="">
                    <div class="overlay align-middle">
                        <h2 class="text-light">League Of Legends</h2>
                    </div>
                </div>
            </div>




        </div>
    </div>
    
    <button id="onlineFriendButton" style="bottom: 0; right: 0.3%;width:300px; z-index:1" class="btn btn-warning btn-lg position-fixed font-weight-bold">Çevrimiçi Arkadaşlar</button>

    <div role="alert" style="position: fixed; bottom: 0; right: 0.3%;width:300px; overflow-y: scroll;" id="onlineUsersPanel" aria-live="assertive" aria-atomic="true" class="toast dark-bg h-75 shadow" data-autohide="false">
        <div style="cursor:pointer;" class="toast-header bg-warning closeUsersPanel" data-dismiss="toast">
           
            <strong class="mr-auto bg-warning text-dark">Çevrimiçi arkadaşlar</strong>
            
            <button type="button" class="ml-2 mb-1 close closeUsersPanel text-light" data-dismiss="toast" aria-label="Close">
                <i class="fas fa-caret-down"></i>
            </button>
        </div>

        <div class="toast-body p-0">
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> onursakalli</button>
            <button class="btn btn-dark text-left w-100 mt-1 user"><img width="10%" src="~/Images/icon.jpg" alt="Alternate Text" /> erturul</button>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/ineedgamer/games.js"></script>
    
}

